extends layout

block content
  h1= title
  
  ul
  each director in director_list
    li 
      a(href=director.url) #{director.first_name} 
      |  (#{director.first_name.name})

  else
    li There are no directors