doctype html
html(lang='en')
  head
    block scripts
      link(rel='stylesheet', href='/stylesheets/style.css')
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid')
      div(class='row')

          nav.navbar.navbar-inverse
            .container-fluid
              .navbar-header
                a.navbar-brand(href='/main') Movies Database
              |     
              ul.nav.navbar-nav
                li.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='/main/movie')
                    | All Movies
                    span.caret
                  |         
                  ul.dropdown-menu
                    li
                      a(href='/main/movie/create') Create Movie
                    |           
                    li
                      a(href='/main/movie/') Movies List
                |
                ul.nav.navbar-nav
                li.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='/main/stars')
                    | All Stars
                    span.caret
                  |         
                  ul.dropdown-menu
                    li
                      a(href='/main/stars/create') Create Stars
                    |           
                    li
                      a(href='/main/stars/') Stars List
                |
                ul.nav.navbar-nav
                li.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='/main/genre')
                    | All Genres
                    span.caret
                  |         
                  ul.dropdown-menu
                    li
                      a(href='/main/genre/create') Create Genre
                    |           
                    li
                      a(href='/main/genre/') Genre List
                |
                ul.nav.navbar-nav
                li.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='/main/director')
                    | All Directors
                    span.caret
                  |         
                  ul.dropdown-menu
                    li
                      a(href='/main/director/create') Create Director
                    |           
                    li
                      a(href='/main/director/') Director List
                |                           
          block content

