extends layout

block content

  h1 Movie: #{movie.title}
  
  div(style='margin-left:20px;margin-top:20px')
  p #[strong Description:] #{movie.description}
  p #{movie.release}
  p
    a(href=movie.url+'/delete') Delete Movie